{% extends "base.html" %}

{% block content %}
<aside class="m-block m-danger">
  <h3>content not found</h3>
  <p>
    No content could be found for the given URL, sorry.
  </p>
  <a href="/">back home</a>
</aside>

{% endblock content %}
