{% extends "base.html" %}

{% block content %}

{% set ew = '<a class="indistinguishable" href="' + base_url +
            '/">electricity.watch</a>'%}

<h1>about  {{ ew }}</h1>

{% include "contents/mission.html.jinja" %}

<div class="m-col-s-10 m-center-s">


  <h2>ratings and tools for humans and machines</h2>
  <p>
    {{ ew }} provides ratings that indicate the sustainability of
    consumable electricity.

    Ratings are
    as current as possible,
    as specific to areas as possible,
    and relative to historic data of areas.

    Humans, for example, can decide whether to do the laundry, charge batteries, or not.

    The focus, however, is automation of IT infrastructure.

    IT infrastructures, for example, can delay jobs, adjust
    performance settings, and suspend services for increased
    sustainability.
  </p>

  <h2>multi-aspect</h2>
  <p>
    The sustainability of available electricity is often rated by the
    carbon intensity alone (e.g., carbon dioxide equivalent per
    generated kilowatt-hour, CO2eq/kWh).

    Although the carbon intensity puts generation and emissions in
    direct relation, electricity supply requires more than just
    generation.

    For example, capacities must kept available for transmission and for
    being able to quickly match the supply with the demand.

    {{ ew }} therefore rates the sustainability of the
    consumable electricity on the basis of multiple aspects.
  </p>

  <h2>area-relative</h2>
  <p>
    Furthermore, ratings which indicate the sustainability of
    electricity are often relative to other areas.

    Some loads can be moved to areas where electricity is more
    sustainable (e.g., in Cloud computing), but many loads cannot be
    relocated easily.

    Examples of stationary loads include building technology, home
    appliances, e-Mobility, computer and network hardware.

    {{ ew }} therefore rates the sustainability of electricity relative
    to the historic data of areas.
  </p>

  <h2>accessible and transparent</h2>
  <p>
    Other projects partly require special knowledge to take action.

    For example, judging the carbon intensity of an area as low or high
    requires knowledge about the area's average carbon intensity.

    Although more knowledge enables more differentiated decisions,
    minimal required knowledge lowers entry barriers and increases
    chances for adoption.

    {{ ew }} therefore provides final ratings, calculated intermediate data, and information about the underlying data sources.
  </p>

</ul>

<h1>credits</h1>
<ul>
  <li>
    <a href="https://flagicons.lipis.dev/">country flags</a>
  </li>
</ul>

<h1>credits</h1>
<ul>
  <li>
    <a href="https://flagicons.lipis.dev/">country flags</a>
  </li>
</ul>

{% endblock content %}
