{% extends "base.html" %}

{% block content %}
<h1>
  welcome to <a href="{{ base_url }}" class="indistinguishable"
  >electricity.watch</a>
</h1>

{% include "contents/mission.html.jinja" %}

<div class="m-row">

  <div class="m-col-m-8 m-push-m-1">

    <p class="m-text-center m-nopadb">
      Your area could either not be detected or is not yet supported.
      <br>
      For an overview of currently supported areas,
      please click the button below:
    </p>

    <div class="m-row">
      <div class="m-col-t-6 m-center-t">
        <div class="m-button m-primary m-fullwidth">
          <a href="{{ base_url }}/areas">
            <div class="m-big">areas</div>
            <div class="m-small">which are currently supported</div>
          </a>
        </div>
      </div>
    </div>

  </div>
  <div class="m-col-m-8 m-push-m-1">

    <p class="m-text-center m-nopadb">
      For more information about <a href="{{ base_url }}"
      class="indistinguishable" >electricity.watch</a>,
      please click the button below:
    </p>

    <div class="m-row">
      <div class="m-col-t-6 m-center-t">
        <div class="m-button m-dim m-fullwidth">
          <a href="{{ base_url }}/about">
            <div class="m-big">about</div>
            <div class="m-small">electricity.watch</div>
          </a>
        </div>
      </div>
    </div>

  </div>

</div>
{% endblock content %}
