<div class="m-row">
  <div class="m-col-t-10">
    <a href="{{ base_url }}/" class="indistinguishable"
      >electricity.watch</a>
    wants to
    <aside class="m-block m-flat m-text-center m-nopadb">
      <b class="m-text m-big">
        make environmentally aware consumption of electricity easier
      </b>
    </aside>
    with information that require minimal prior knowledge
    and tools for infrastructure automation.
  </div>
  <div class="m-col-t-2">
    <img width="100%" src="{{ base_url }}/static/logo.svg"
      alt="electricity-watch logo">
  </div>
</div>
