{% extends "base.html" %}

{%- block content -%}

<div class="nginx-fancy-index">

  <aside class="m-block m-warning">
    <h3>This is probably not the page you are looking for …</h3>
    <p>
      … and we recommend you go <a href="/">back home</a>.
    </p>
  </aside>
  <p>
    However, if you are actually looking for a directory listing,
    this is what we have:
  </p>

        <h1>
{%- endblock content -%}

{%- block after_content -%}
{%- endblock after_content -%}
