{% extends "base.html" %}

{% block title -%}
  areas
{%- endblock title %}

{% block content %}
<h1>areas</h1>

The areas which are currently supported:

{% set cols = 4 %}

<div class="m-row">
  {% for area in areas %}
    {% if loop.index0 % cols == 0 and not loop.first %}
</div>
<div class="m-row">
    {% endif %}
    <div class="m-col-t-{{ (12 / cols) | int }} m-text-center">
      <a href="{{ base_url }}/{{ paths[loop.index0] }}"
         class="indistinguishable">
        <img src="{{ base_url }}/{{ paths[loop.index0] }}.svg"
             class="flag" alt="flag of {{ area.name }}" width="50%">
        <br>
        <span class="flag-text m-hide-s">{{ area.code }}</span
        ><span class="flag-text m-show-s">{{ area.name }}</span>&nbsp;
        {%- if area.rating.value == 1 -%}
          <span class="m-text m-success">:-)</span>
        {%- elif 0 < area.rating.value < 1 -%}
          <span class="m-text m-warning">:-/</span>
        {%- else -%}
          <span class="m-text m-danger">:-(</span>
        {%- endif -%}

      </a>
    </div>
  {% endfor %}
</div>

{% endblock content %}
