{% extends "base.html" %}

{% block title -%}
  {{ area.name }}
{%- endblock title %}

{% block content %}

<img src="{{ base_url }}/{{ area.code | lower }}.svg"
     class="flag m-right-t" width="50em">

<h1>
  Electricity Now in {{ area.name }}
</h1>

<div class="m-container rating">
  <div class="m-row">
    <div class="m-col-t-12">
      {% if area.rating.value == 1 %}
        <div class="m-text m-text-center m-success">
          <p class="smiley">
            :-)
          </p>
          <p class="smiley-text">
            Now is an ideal time to consume electricity.
          </p>
        </div>
      {% elif 0 < area.rating.value < 1 %}
        <div class="m-text m-text-center m-warning">
          <p class="smiley">
            :-/
          </p>
          <p class="smiley-text">
            Now is not a good time to consume electricity.
          </p>
        </div>
      {% else %}
        <div class="m-text m-text-center m-danger">
          <p class="smiley">
            :-(
          </p>
          <p class="smiley-text">
            Now is a bad time to consume electricity.
          </p>
        </div>
      {% endif %}
    </div>
  </div>
</div>
<div class="m-container">
  <div class="m-row">
    {% for rating in area.rating.bases %}
      <div class="m-center-t m-col-t-10 m-col-s-8 m-col-m-6 m-col-l-5">
          <h3>{{ rating.name }}</h3>
          <div>
            <div class="meter"
                title="rated {{ '%.2f'
                                | format(rating.value
                                         | round(2, 'floor'))
                        }} on the scale between 0 (bad) and 1 (good)">
              <div class="success"></div>
              <div class="gradient"></div>
              <div class="needle-range">
                <div class="needle {{ 'end-stop' if rating.value == 1 }}"
                     style="left: {{ 100 * rating.value }}%"></div>
              </div>
            </div>
          </div>
          <p>
            {% if rating.name == "grid load rating" %}
              The current load in the electricity grid is
              {% if rating.value == 1 %}
                <span class="m-text m-success">below</span>
              {% elif 0 < rating.value < 1 %}
                <span class="m-text m-warning">above</span>
              {% else %}
                <span class="m-text m-danger">way above</span>
              {% endif %}
              the usual all-day average.
            {% elif rating.name == "energy source rating" %}
              The share of electricity generated from sustainable
              sources is
              {% if rating.value == 1 %}
                <span class="m-text m-success">above</span>
              {% elif 0 < rating.value < 1 %}
                <span class="m-text m-warning">below</span>
              {% else %}
                <span class="m-text m-danger">way below</span>
              {% endif %}
              the average for this time of the year.
            {% elif rating.name == "energy imbalance rating" %}
              There is currently
              {% if rating.value == 1 %}
                an <span class="m-text m-success">overproduction</span>
              {% elif 0 < rating.value < 1 %}
                an <span class="m-text m-warning">underproduction</span>
              {% else %}
                a <span class="m-text m-danger">strong
                underproduction</span>
              {% endif %}
              of electricity.
            {% endif %}
          </p>
      </div>
    {% endfor %}
  </div>
</div>
<div class="m-container">
  <div class="m-row">
    <div class="m-col-t-12 m-text-right">
      <p>
        <a href="{{ base_url }}/{{ path }}/area-rating"
          >details, data, API</a>
      </p>
    </div>
  </div>
</div>
{% endblock content %}
