{%- block before_content -%}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="theme-color" content="#A4061B" />
  <link rel="stylesheet" href="{{ base_url }}/static/m-grid.css" />
  <link rel="stylesheet" href="{{ base_url }}/static/m-components.css" />
  <link rel="stylesheet" href="{{ base_url }}/static/m-layout.css" />
  <link rel="stylesheet"
        href="{{ base_url }}/static/electricity-watch.css" />
  <link rel="icon" href="{{ base_url }}/static/logo.svg"
        type="image/x-ico" />
  <title>
    {%- block title %}{% endblock title %}
    {% if self.title() %} | {% endif -%}
    electricity.watch</title>
</head>
<body>
<header>
<nav id="navigation">
  <div class="m-container">
    <div class="m-row">
      <div class="m-col-t-6">
        <a href="{{ base_url }}/" id="m-navbar-brand">
          <img src="{{ base_url }}/static/logo.svg"
               alt="electricity-watch logo">
          electricity.watch
        </a>
      </div>
      <div class="m-col-t-3 m-text-right">
        <a href="{{ base_url }}/areas">areas</a>
      </div>
      <div class="m-col-t-3 m-text-right">
        <a href="{{ base_url }}/about">about</a>
      </div>
    </div>
  </div>
</nav>
</header>
<main>

  <div id="wip">
    <h3>work in progress</h3>
  </div>

  <article>
    <div class="m-container m-container-inflatable">
      <div class="m-row">
{%- endblock before_content -%}
{% block content -%}{%- endblock content %}
{% block after_content -%}
      </div>
    </div>
  </article>
</main>
<footer>
  <nav>
    <div class="m-container">
      <div class="m-row">
        <div class="m-col-t-4">
          <a href="https://gitlab.com/electricity-watch/web">
            source code
          </a>
        </div>
        <div class="m-col-t-4">
          <a href="https://lukas-pirl.de/legal-notice">
            legal notice
          </a>
        </div>
        <div class="m-col-t-4">
          <a href="https://lukas-pirl.de/privacy-policy">
            privacy policy
          </a>
        </div>
      </div>
    </div>
  </nav>
</footer>
</body>
</html>
{%- endblock after_content -%}
