{% extends "base.html" %}

{% set title = data.name ~ ' for ' ~ area.name %}
{% block title -%}
  {{ title }}
{%- endblock title %}

{% block content %}
<div class="documented-data">

<img src="{{ base_url }}/{{ area.code | lower }}.svg"
     class="flag m-right-t" width="50em">

<p class="m-breadcrumb">
  <a href="{{ base_url }}/{{ area.code | lower }}">{{ area.name }}</a> ›
  {% for name in crumb_names %}
  {%- if not loop.last %}
  <a href="{{ base_url }}/{{ area.code | lower }}/{{
              crumb_paths[:loop.index] | join('/') }}"
    >{{ name }}</a> ›
  {%- endif -%}
  {% endfor %}
</p>

<h1>{{ title }}</h1>

<section class="documentation">
  {{ data.doc }}
</section>

<section class="data">
  <section>
    <h2>value</h2>
    <code>{{ data.value }}</code>
  </section>
  <section>
    <h2>unit</h2>
    {{ data.unit }}
  </section>
  <section>
    <h2>updated at</h2>
    {{ data.updated_at }} UTC
  </section>
</section>

<section class="bases">
  <h2>bases</h2>
  <table>
    {% for base in data.bases %}
    <tr>
      <td>
        <a href="{{ crumb_paths[-1] }}/{{ bases_paths[loop.index0] }}"
          >{{ base.name }}</a>
      </td>
      <td>
        {% if base.value is number %}
          ({{ '%.3f' | format(base.value) }} {{ base.unit }})
        {% endif %}
        </td>
    </tr>
    {% endfor %}
  </table>
</section>

<section class="api">
  <h2>API access</h2>
  <ul>
    {% for ext in ('json', 'txt') %}
    <li><a href="{{ crumb_paths[-1] }}.{{ ext }}">{{ ext }}</a></li>
    {% endfor %}
    {% if data.unit == "rating" %}
    <li>
      <a href="{{ crumb_paths[-1] }}.good">good flag</a>
      <span class="m-text m-dim">(404 if not rated good)</span>
    </li>
    <li>
      <a href="{{ crumb_paths[-1] }}.bad">bad flag</a>
      <span class="m-text m-dim">(404 if not rated bad)</span>
    </li>
    {% endif %}
  </ul>
</section>

</div>
{% endblock content %}
