/* theme for m.css; mind http://colorsafe.co */
:root {
  --background: #000;
  --foreground: #fff;
  --gray: #7D7D7D;
  --primary: #018571;     /* green */
  --secondary: #FFC000;   /* yellow */
  --positive: #219150;    /* green */
  --negative: #D36F17;    /* orange/brown */
  --drastic: #E53C2A;     /* red */

  --font: Arial, sans-serif;
  --code-font: var(--font);
  --line-height: 1.5em;
  --paragraph-indent: 0;
  --paragraph-align: justify;
  --link-decoration: underline;
  --link-decoration-nav: none;
  --nav-brand-case: none;
  --nav-heading-case: none;
  --nav-categories-case: none;
  --landing-header-case: none;
  --border-radius: 0;

  /* Basics */
  --background-color: var(--background);
  --color: var(--foreground);
  --line-color: var(--gray);
  --link-color: #01AD93;
  --link-active-color: var(--link-color);
  --mark-color: inherit;
  --mark-background-color: var(--gray);
  --code-color: inherit;
  --code-inverted-color: var(--background);
  --console-color: var(--code-color);
  --console-inverted-color: var(--code-inverted-color);
  --code-background-color: inherit;
  --console-background-color: inherit;
  --button-background-color: inherit;

  /* Header */
  --header-color: var(--color);
  --header-breadcrumb-color: inherit;
  --header-background-color: inherit;
  --header-background-color-landing: inherit;
  --header-background-color-jumbo: inherit;
  --header-link-color: inherit;
  --header-link-active-color: inherit;
  --header-link-current-color: inherit;
  --header-link-active-background-color: inherit;
  --header-link-active-background-color-semi: inherit;

  /* Footer */
  --footer-color: var(--dim-color);
  --footer-background-color: inherit;
  --footer-link-color: var(--dim-color);
  --footer-link-active-color: var(--dim-color);

  /* Article */
  --article-header-color: inherit;
  --article-footer-color: inherit;
  --article-heading-color: inherit;
  --article-heading-active-color: inherit;

  /* Right navigation panel */
  --navpanel-link-color: inherit;
  --navpanel-link-active-color: inherit;

  /* Plots */
  --plot-background-color: inherit;
  --plot-error-color: var(--drastic);

  /* Colored components */
  --default-color: var(--foreground);
  --default-link-active-color: var(--link-color);
  --default-filled-color: var(--background-color);
  --default-filled-background-color: var(--default-color);
  --default-filled-link-color: var(--link-color);
  --default-filled-link-active-color: var(--default-filled-link-color);

  --primary-color: var(--primary);
  --primary-link-active-color: var(--primary-color);
  --primary-filled-color: var(--background-color);
  --primary-filled-background-color: var(--primary-color);
  --primary-filled-link-color: var(--link-color);
  --primary-filled-link-active-color: var(--primary-filled-link-color);

  --success-color: var(--positive);
  --success-link-active-color: var(--success-color);
  --success-filled-color: var(--background-color);
  --success-filled-background-color: var(--success-color);
  --success-filled-link-color: var(--link-color);
  --success-filled-link-active-color: var(--success-filled-link-color);

  --warning-color: var(--negative);
  --warning-link-active-color: var(--warning-color);
  --warning-filled-color: var(--background-color);
  --warning-filled-background-color: var(--warning-color);
  --warning-filled-link-color: var(--link-color);
  --warning-filled-link-active-color: var(--warning-filled-link-color);

  --danger-color: var(--drastic);
  --danger-link-active-color: var(--danger-color);
  --danger-filled-color: var(--background-color);
  --danger-filled-background-color: var(--danger-color);
  --danger-filled-link-color: var(--link-color);
  --danger-filled-link-active-color: var(--danger-filled-link-color);

  --info-color: var(--secondary);
  --info-link-active-color: var(--info-color);
  --info-filled-color: var(--background-color);
  --info-filled-background-color: var(--info-color);
  --info-filled-link-color: var(--link-color);
  --info-filled-link-active-color: var(--info-filled-link-color);

  --dim-color: var(--gray);
  --dim-link-color: var(--dim-color);
  --dim-link-active-color: var(--dim-color);
  --dim-filled-color: var(--background-color);
  --dim-filled-background-color: var(--dim-color);
  --dim-filled-link-color: var(--link-color);
  --dim-filled-link-active-color: var(--dim-filled-link-color);
  --dim-button-active-color: var(--dim-color);
}

html, body {
  margin: 0;
  font-size: 14px;
  letter-spacing: 0;
}

/* BEGIN make footer stay on view port bottom, at least */
html {
  height: 100%;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

main {
  height: 100%;
  position: relative;
}

footer {
  margin-top: auto;
}
/* END   make footer stay on view port bottom, at least */

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -100;

  opacity: .1;
  background-image: url("{{ base_url }}/static/logo.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: fixed;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

main m-row {
  margin-bottom: 1em;
}

#wip {
  position: absolute;
  right: 0;
  top: 0;
  z-index: -100;
  overflow-x: clip;
}

#wip h3 {
  margin-top: 1em;
  margin-right: -.5em;
  transform: rotate(30deg);
  color: var(--dim-color);
  border: .25em dashed var(--dim-color);
  padding: .25em .5em;
}

a.indistinguishable {
  text-decoration: none;
  color: inherit;
}

a.m-link-wrap {
  word-break: break-word;
}

body > footer > nav {
  padding: 0;
}

div.documented-data section section {
  margin: 0;
}

.m-breadcrumb,
.m-breadcrumb a {
  color: var(--gray);
}

div.documented-data section.data h2 {
  display: inline-block;
  font-size: inherit;
  margin: 0;
}

div.documented-data section.data h2:after {
  content: ': ';
}

div.documented-data table,
div.documented-data table th,
div.documented-data table td,
div.documented-data table tr {
  border: none;
  color: var(--dim-color);
}

div.documented-data table td {
  padding-right: 1em;
}

.rating {
  margin: 3em 0;
}

.smiley {
  font-weight: bold;
  font-size: 10em;
  line-height: 1em;
}

.smiley-text {
  font-weight: bold;
  font-size: 1.5em;
  line-height: 1.5em;
}

.meter {
  position: relative;
  height: 1em;
  width: 100%;
  margin: .5em 0;
  padding-right: 2em;
}

.meter * {
  position: absolute;
  height: 100%;
  border: 0.2em solid black;
}

.meter .gradient {
  width: calc(100% - 2em);
  background: linear-gradient(
    to right, var(--danger-color), var(--warning-color)
  );
}

.meter .success {
  width: 2em;
  right: 0;
  background-color: var(--success-color);
}

.meter .needle-range {
  width: calc(100% - 2em - 2 * .4em);
  left: .4em;
  border: none;
}

.meter .needle {
  height: 2em;
  margin-top: -.5em;
  width: .8em;
  margin-left: -.4em;
  background-color: var(--foreground);
}

.meter .end-stop {
  margin-left: calc(-.4em + 1.4em)
}

img.flag {
  border: 1px solid var(--line-color);
}

img.flag.m-right-t {
  padding: 0;
  margin: 0 1em;
}

@media screen and (min-width: 576px){
  [class*="m-show-"] {
    display: inline; /* theme default is "block" */
  }
}

.nginx-fancy-index h1 {
  display: none;
}

.nginx-fancy-index table {
  width: 100%;
}
